:root {
    --primary-color: #4c7fed;
    --secondary-color: #1e293b;
    --tertiary-color: green;
}

body {
    font-family: 'Prompt', sans-serif;
}


.text-primary {
    color: var(--primary-color);
}

.text-secondary {
    color: var(--secondary-color);
}

.text-tertiary {
    color: var(--tertiary-color);
}


.bg-primary {
    background-color: var(--primary-color);
}

.bg-secondary {
    background-color: var(--secondary-color);
}

.border-primary {
    border-color: var(--primary-color);
}

.hover-text-primary:hover {
    color: var(--primary-color);
    transition: color 0.3s;
}

.hover-bg-primary:hover {
    background-color: var(--primary-color);
    transition: background-color 0.3s;
}


.btn-primary {
    background-color: var(--primary-color);
    color: white;
}

.btn-primary:hover {
    opacity: 0.9;
    
    transform: translateY(-2px);
}

.fade-in {
    opacity: 0;
    transform: translateY(20px); 
    transition: opacity 0.8s ease-out, transform 0.8s ease-out;
}

.fade-in.visible {
    opacity: 1;
    transform: translateY(0);
}